header {
    margin-top:1em;
}

header nav ul li,
footer ul li {
    display:inline;
    margin-right:1em;
}

footer {
    text-align:center;
    margin-top:1em;
    padding-top:0.5em;
    background: #eee;
}

#puzzle {
    width:100%;
    padding:125px 10px;
    background:#ddd;
    border:1px solid #ccc;
    text-align:center;
    color:#fff;
    font-size:26px;
    font-weight:bold;
    letter-spacing:2px;
}

.piece {
    background:#666;
    color:#fff;
    width:120px;
    padding:30px 10px;
    text-align:center;
    float:left;
    margin:5px;
}