header {
    margin-top:1em;
}

header nav ul li,
footer ul li {
    display:inline;
    margin-right:1em;
}

footer {
    text-align:center;
    margin-top:1em;
    padding-top:0.5em;
    background: #eee;
}

#story-videos {}