<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; BCERP Project</div>
        <h2>BCERP Project</h2>
        <h3>Project Background</h3>
        <p>
            Researchers in the UNC Chapel Hill's Breast Cancer and the Environment Research Program (UNC BCERP)
            are studying how environmental factors affect basal-like breast cancer in African American women
            younger than 50. BCERP researcher and outreach staff are working to include emerging science into its
            breast cancer outreach materials and activities. A series of discussions with young African American women
            indicated that using electronic media would be an effective way to share breast cancer risk information.
            UNC BCERP partnered with researchers in the UNC School of Information and Library Science to design this
            web-based tool that educates younger African American women (and more) about basal-like breast cancer risk.
        </p>
        <ul>
          <li><a href="http://sph.unc.edu/bcerp/unc-bcerp/">UNC BCERP</a></li>
          <li><a href="http://sph.unc.edu/cehs/center-for-environmental-health-and-susceptibility/">UNC CEHS</a></li>
        </ul>
        <p>
            <%= erb :questionnaire_link_partial %>
        </p>
    </div>
</div>