<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Credits</div>
    <h2>Credits</h2>
    <p>
      UNC researchers study how environmental factors affect basal-like breast cancer risk
      in premenopausal African-American women. As part of an effort to educate women about
      their risk, researchers, breast cancer survivors and educators partnered to
      design this interactive web-based tool. <br />
      Special thanks to:
    </p>
    <ul>
        <li><a href="http://sph.unc.edu/bcerp/unc-bcerp/">UNC Breast Cancer and the Environment Research Program</a>: Neasha Graves, MPA, Liza Makowski, PhD, Melissa Troester, PhD</li>
        <li><a href="http://sph.unc.edu/cehs/center-for-environmental-health-and-susceptibility/">UNC Center for Environmental Health and Susceptibility</a>,
          <a href="http://sph.unc.edu/">UNC Gillings School of Global Public Health</a>: Kathleen Gray, MSPH, Sarah Yelton, MS</li>
        <li><a href="http://sils.unc.edu">UNC School of Information and Library Science</a>: Brad Hemminger, PhD, Grace Shin, MS, Michael Head</li>
        <li><a href="http://unclineberger.org/">UNC Lineberger Comprehensive Cancer Center</a>: Carey Anders, MD</li>
        <li>Video participants and production: Renee Adams, Kenda Freeman, Christie Lee, DDC International</li>
        <li>Our Community Advisory Committee members</li>
    </ul>
    <p class="copyright">
        &copy; The University of North Carolina at Chapel Hill. All Rights Reserved.
    </p>
    <p>
      <%= erb :questionnaire_link_partial %>
    </p>
  </div>
</div>