<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Credits</div>
    <h2>Credits</h2>
    <p>
        UNC researchers study how environmental factors affect basal-like breast cancer risk in premenopausal African-American women.
        As part of an effort to educate women about their risk, researchers and educators partnered to design this interactive web-based tool.
        Special thanks to:
    </p>
    <ul>
        <li>UNC Breast Cancer and the Environment Research Program: Neasha Graves, MPA, Liza Makowski, PhD, Melissa Troester, PhD</li>
        <li>UNC Center for Environmental Health and Susceptibility, UNC Gillings School of Global Public Health: Kathleen Gray, MSPH, Sarah Yelton, MS</li>
        <li>UNC School of Information and Library Science: Brad Hemminger, PhD, Grace Shin, MS, Michael Head</li>
        <li>UNC Lineberger Comprehensive Cancer Center: Casey Anders, MD</li>
        <li>Video participants: Renee Adams, Kenda Freeman, Christie Lee, DDC International</li>
        <li>Our community advisory committee members</li>
    </ul>
    <p class="copyright">
        &copy; The University of North Carolina at Chapel Hill. All Rights Reserved.
    </p>
    <p>
      <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
    </p>
  </div>
</div>