<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Funding</div>
    <h2>Funding</h2>
    <p>
        The following funding made this website possible:
    </p>
    <ul>
        <li>Avon Foundation for Women</li>
        <li>Breast SPORE (NCI grant no. P50-CA058223)</li>
        <li>Breast Cancer and the Environment Research Program (NCI/NIEHS grants U01 ES019472 and 3 U01 ES019472-04S1)</li>
        <li>Nutrition Obesity Research Center (NIH grant no. P30-DK056350)</li>
        <li>North Carolina University Cancer Research Fund (NIH grant no. R21 CA180134)</li>
        <li>UNC Center for Environmental Health and Susceptibility (NIEHS grant no. P30ES010126)</li>
    </ul>
    <p>
      <%= erb :questionnaire_link_partial %>
    </p>
  </div>
</div>