<div id="guidelines" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Guidelines</div>
        <h2>Guidelines</h2>
        <!--<p>
            For more information regarding breast cancer prevention:
        </p>-->
        <ul>
            <li>Drinking: <a href="http://www.niaaa.nih.gov/">National Institute on Alcohol Abuse and Alcoholism</a></li>
            <li>Diet: <a href="http://www.health.gov/dietaryguidelines/">US Dietary Guidelines</a></li>
            <li>Prevention Recommendations: <a href="http://www.uspreventiveservicestaskforce.org/">US Preventive Services Task Force</a></li>
            <li>Phthalates and BPA in plastics:
                <a href="https://www.mountsinai.org/static_files/MSMC/Files/Patient%20Care/Children/Childrens%20Environmental%20Health%20Center/Fact%20Sheet%20-%20Plastic&BPA.pdf">
                    Mt. Sinai Children's Environmental Health Center&mdash;"Check the Kind of Plastics You Use" (PDF)
                </a>
            </li>
        </ul>    
        <p>
            <%= erb :questionnaire_link_partial %>
        </p>
    </div>
</div>