<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Local Contacts</div>
        <h2>Local Contacts</h2>
        <ul>
            <li>Find a Screening Provider: <a href="http://www.cdc.gov/cancer/nbccedp/screenings.htm">CDC National Breast and Cervical Cancer Early Detection Program</a></li>
        </ul>
        <p>
            <%= erb :questionnaire_link_partial %>
        </p>
    </div>
</div>