<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Local Contacts</div>
        <h2>Local Contacts</h2>
        <p>
            CDC Links
        </p>
        <p>
            <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
        </p>
    </div>
</div>