<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Materials</div>
        <h2>Materials</h2>
        <p>
            For more information regarding breast cancer prevention:
        </p>
        <ul>
          <li>Breast Cancer Medline Plus</li>
          <li>NIEHS BCERP page</li>
          <li>Mt Sinai plastics/can page</li>
          <li>Komen site: black women and BC</li>
          <li><a href="http://www.iom.edu/Reports/2011/Breast-Cancer-and-the-Environment-A-Life-Course-Approach.aspx">Institute of Medicine (December 2011 report)</a></li>
        </ul>
        <p>
            <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
        </p>
    </div>
</div>