<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Materials</div>
        <h2>Materials</h2>
        <p>
            For more information regarding breast cancer prevention:
        </p>
        <ul>
          <li><a href="http://www.nlm.nih.gov/medlineplus/breastcancer.html">Breast Cancer Information on Medline Plus</a></li>
          <li><a href="http://www.niehs.nih.gov/research/supported/dert/programs/breast-cancer/">NIEHS Breast Cancer &amp; the Environment Research Program</a></li>
          <li><a href="http://www.iom.edu/Reports/2011/Breast-Cancer-and-the-Environment-A-Life-Course-Approach.aspx">Breast Cancer and the Environment: A Life Course Approach</a></li>
        </ul>
        <p>
            <%= erb :questionnaire_link_partial %>
        </p>
    </div>
</div>