<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; National Programs</div>
        <h2>National Programs</h2>
        <!--<p>
            For more information regarding breast cancer prevention:
        </p>-->
        <ul>
            <li><a href="http://www.bcerp.org/index.htm">NIEHS BCERP</a></li>
        </ul>
        <p>
            <%= erb :questionnaire_link_partial %>
        </p>
    </div>
</div>