<div class="actions row">
    <div class="go-back small-4 columns">
        <% if !suppress_back_button  %>
            <a href="<%= previous_step %>">&laquo; Previous</a>
        <% end %>
    </div>
    <div class="next small-8 columns">
        <a href="/assessment/<%= next_step %>" class="button small secondary radius">Skip</a>
        <button type="submit" class="button small radius">Next &raquo;</button>
    </div>
</div>
<div class="row">
    <div class="large-12 columns text-right">
        <a href="/results">View Results</a>
    </div>
</div>
<div id="progress-bar" class="row">
    <div class="small-9 medium-10 large-11 columns">
        <div class="progress round">
          <span class="meter" style="width:<%= progress %>%;"></span>
        </div>
    </div>
    <div class="progress-label small-3 medium-2 large-1 columns"><%= progress %>% done</div>
</div>