<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <div class="panel">
                <fieldset>
                    <legend>How old were you when your first child was born?</legend>
                    <label><input type="radio" name="first_child" value="No children" id="children-1" <% if @session.first_child == "No children" %> checked="checked" <% end %>> I have no children</label>
                    <label><input type="radio" name="first_child" value="Younger than 35" id="children-2" <% if @session.first_child == "Younger than 35" %> checked="checked" <% end %>> Younger than 35</label>
                    <label><input type="radio" name="first_child" value="35 or older" id="children-3" <% if @session.first_child == "35 or older" %> checked="checked" <% end %>> 35 or older</label>
                </fieldset>
                <div class="row">
                  <div id="children-message" class="small-12 columns"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="next_question" value="results" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "results", :previous_step => "race_ethnicity" } %>
</form>