<div class="row">
  <div class="large-12 columns">
    <h3 class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Funding</h3>
    <h2>Funding</h2>
    <p>
        Project funded by:
    </p>
    <ul>
        <li>UNC Breast Cancer and the Environment Research Program (National Cancer Institute/National Institute of Environmental Health Sciences grants: U01-ES019472; U01-ES019472-04S1)</li>
        <li>UNC Center for Environmental Health and Susceptibility (NIEHS grant: P30-ES010126)</li>
        <li>Nutrition Obesity Research Center (funder? P30-DK056350)</li>
        <li>Breast SPORE (funder? P50-CA058223)</li>
    </ul>
    <p>
      <a href="/questionnaire" class="button small">Back to Questionnaire</a>
    </p>
  </div>
</div>