<div id="home">
    <div class="row">
        <div class="text-center large-6 large-push-3 medium-6 medium-push-3 columns">
            <h2>Do you know <em>your</em> breast&nbsp;health?</h2>
            <p>
                Breast cancer can affect ALL women&mdash;young and old&mdash;black, white, and brown. Learn how
                your actions influence your risk.
            </p>
            <div>
                <% if @session.progress > 0 %>
                    <a href="/questionnaire" class="button radius">Continue Questionnaire</a>    
                <% else %>
                    <a href="/questionnaire/intro" class="button radius">Find Our Your Risk</a>    
                <% end %>                
            </div>            
        </div>
        <div id="teaser-video" class="large-8 large-pull-2 medium-8 medium-pull-2 columns">
            <iframe src="//www.youtube.com/embed/0GOglZB8bUI?rel=0&controls=2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>