<div class="row">
    <div class="large-12 columns">
        <div class="video-placeholder">
            <img src="/images/teaser-video-still.jpg" alt="Teaser video">
        </div>
    </div>
    <!--<div class="large-6 large-pull-6 columns">
        <div class="callout panel">
            <p class="quote">
              1 in 8 women will be diagnosed with breast cancer <strong>in their lifetime</strong>.
            </p>
            <p>
              <strong>How much do you know about your breast cancer risks?</strong>
              Breast cancer is a complex disease with causes that are not yet fully known.
              Your genetics and environmental exposures interact to influence your breast cancer risk.
              This site can help you understand which exposures affect your risk.
            </p>
            <a href="test1.html" class="button">Find Out Your Risk</a>
        </div>
    </div>   --> 
</div>
<div class="row">
    <!--<div class="large-6 columns">
      <div class="callout panel">
        <p class="quote">
          1 in 8 women will be diagnosed with breast cancer <strong>in their lifetime</strong>.
        </p>
        <p>
          <strong>How much do you know about breast cancer risks?</strong>
          Breast cancer is a complex disease with causes that are not yet fully known.
          Your genetics and environmental exposures interact to influence your breast cancer risk.
          This site can help you understand which exposures affect your risk.
        </p>
        <a href="test1.html" class="button">Find Out Your Risk</a>
      </div>
    </div>-->
    <div class="large-6 columns">
        <div class="infographic-teaser">
            <div class="risk-infographic not-started">
                <div class="risk health-history">
                    <h3 class="risk-name">Health History</h3>
                    <div class="risk-level">
                        <a id="age" href="health-history.html#age-panel" class="risk-question">Age</a>
                        <a id="children" href="health-history.html#children-panel,1" class="risk-question">Children before 35</a>
                        <a id="breast-feed-months" href="health-history.html#children-panel,2" class="risk-question">Months breastfeeding</a>
                        <a id="relatives" href="health-history.html#relatives-panel" class="risk-question">Relatives with breast cancer</a>
                        <a id="bmi" href="health-history.html#bmi-panel" class="risk-question">Height &amp; weight (BMI)</a>
                    </div>
                </div>
                <div class="risk diet">
                    <h3 class="risk-name">Diet</h3>
                    <div class="risk-level">
                        <a id="habits" href="diet.html#habits-panel" class="risk-question">Diet habits</a>
                        <a id="food" href="diet.html#food-panel,1" class="risk-question">Fresh/frozen food</a>
                        <a id="charred" href="diet.html#food-panel,2" class="risk-question">Charred meat</a>
                        <a id="alcohol" href="diet.html#alcohol-panel" class="risk-question">Alcohol consumption</a>
                    </div>
                </div>
                <div class="risk exercise">
                    <h3 class="risk-name">Exercise</h3>
                    <div class="risk-level">
                        <a id="exercise" href="exercise.html#risk-exercise-panel" class="risk-question">Days of exercise/week</a>
                    </div>
                </div>
                <div class="risk environment">
                    <h3 class="risk-name">Environment</h3>
                    <div class="risk-level">
                        <a id="fragrances" href="environment.html#fragrances-panel" class="risk-question">Fragrances</a>
                        <a id="plastics" href="environment.html#plastics-panel" class="risk-question">Plastics &amp; food packaging</a>
                        <a id="hormones" href="environment.html#hormones-panel" class="risk-question">Hormones</a>
                    </div>
                </div>
                <div class="risk screening">
                    <h3 class="risk-name">Screening</h3>
                    <div class="risk-level">
                        <a id="look-and-feel" href="screening.html#risk-screening-panel" class="risk-question">Look and feel of your breasts</a>
                        <a id="talked-to-physician" href="screening.html#risk-screening-panel" class="risk-question">Talk to your physician</a>
                        <a id="exams" href="screening.html#risk-screening-panel" class="risk-question">Annual breast exams</a>
                    </div>
                </div>                
            </div>
            <div class="infographic-overlay"></div>
            <div class="teaser-text">
                <p><strong>Do you know your breast cancer risk?</strong></p>
                <a class="teaser-button button" href="/assessment" class="button">Find Out Your Risk</a>
            </div>            
        </div>
    </div>
    <div class="large-6 columns">
        <!--TODO: Make Accordion markup valid DL, DD, DT and fix CSS/JS if necessary -->		
		<dl class="accordion" data-accordion>
            <dd>
                <a href="#panel1">Diagnosed and Pregnant</a>
                <div id="panel1" class="content active">
                    <div class="video-placeholder">
                      <img src="/images/renee-adams-video-still.jpg" alt="">
                    </div>
                    <p>
                      <em>"It doesn't have to run in your family for it to happen to you."</em>
                       Renee Adams shares her story of surviving breast cancer while pregnant.
                    </p>
                </div>
            </dd>
            <dd>
                <a href="#panel2">Surviving With an Infant</a>
                <div id="panel2" class="content">
                    <div class="video-placeholder">
                      <img src="/images/christie-lee-video-still.jpg" alt="">
                    </div>
                    <p>
                      <em>"You just never think it will be you."</em>
                      Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.
                    </p>
                </div>
            </dd>
            <dd>
                <a href="#panel3">Advocating For Prevention</a>
                <div id="panel3" class="content">
                    <div class="video-placeholder">
                      <img src="/images/kenda-freeman-video-still.jpg" alt="">
                    </div>
                    <p>
                      <em>"It effected so many people in my family, it could happen to me."</em>
                      Kenda Freeman shares her story of living well to prevent breast cancer. 
                    </p>
                </div>
            </dd>
		</dl>
	</div>    
</div>
<div class="row">
    <div class="large-4 columns">
        <div class="callout">
            <h3>Find Out Your Risk</h3>
            <p>
              Answer a few questions to find out your risk level. You'll get helpful advice along the way.
            </p>
            <a href="/assessment" class="small button">Find Out Your Risk</a>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="callout">
            <h3>Resources</h3>
            <p>
              Find links to more information about breast cancer risks and ways to lower your risk.
            </p>
            <a href="/resources" class="small button">Resources</a>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="callout">
            <h3>About</h3>
            <p>
              Read about the people and institutions behind the Breast Health Awareness site. (Hint: Go Tarheels!)
            </p>
            <a href="/about" class="small button">About The Site</a>
        </div>
    </div>
</div>