<div id="intro" class="row">
    <div class="large-12 columns">
        <div class="callout panel">
            <p>
            We're going to ask you a few questions to determine your level of risk. For each question, you can answer it, skip it, or go back to the previous question.
            View your results any time by clicking the "View results so far" link.
            </p>
            
            <% if @session.progress > 0 %>
                <a href="/assessment/age" class="button">Continue Survey</a>      
            <% else %>
                <a href="/assessment/age" class="button">Start the Survey</a>    
            <% end %>   
        </div>
    </div>
</div>