<div id="intro" class="row">
    <div class="large-12 columns">
        <h2>Starting the Questionnaire</h2>
        <div class="callout panel">
            <p>
                We're going to ask you a few questions to determine your level of risk. For each question, you can answer it, skip it, or go back to the previous question.
                View your results any time by clicking or tapping the "View Results" link.
            </p>
            <a href="/questionnaire/age" class="button">
                <% if @session.progress > 0 %>
                    Continue Questionnaire
                <% else %>
                    Start the Questionnaire
                <% end %>
            </a>      
        </div>
    </div>
</div>