<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; More Information</div>
    <h2>More Information</h2>
    <p>
        For more information regarding breast cancer prevention:
    </p>
    <ul>
        <li><a href="http://sph.unc.edu/bcerp/unc-bcerp/">UNC BCERP</a></li>
        <li><a href="http://sph.unc.edu/cehs/center-for-environmental-health-and-susceptibility/">UNC CEHS</a></li>
        <li><a href="http://www.bcerp.org/index.htm">NIEHS BCERP</a></li>
        <li><a href="http://www.iom.edu/Reports/2011/Breast-Cancer-and-the-Environment-A-Life-Course-Approach.aspx">Institute of Medicine (December 2011 report)</a></li>
        <li><a href="http://www.niaaa.nih.gov/">National Institute on Alcohol Abuse and Alcoholism</a></li>
        <li><a href="http://www.health.gov/dietaryguidelines/">US Dietary Guidelines</a></li>
        <li><a href="http://www.uspreventiveservicestaskforce.org/">US Preventive Services Task Force</a></li>
    </ul>
    <p>
      <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
    </p>
  </div>
</div>