<div id="resources" class="row">
    <div class="large-12 columns">
        <h3 class="breadcrumb"><a href="/">Home</a> &rsaquo; Resources</h3>
        <h2>Resources</h2>
        <ul>
            <li><a href="/resources/more_info">More Information on Breast Cancer Risks <span>&rang;</span></a></li>
            <li><a href="/resources/funding">Funding <span>&rang;</span></a></li>
            <li><a href="/resources/credits">Credits <span>&rang;</span></a></li>
        </ul>
        <p>
            <a href="/questionnaire" class="button small">Back to Questionnaire</a>
        </p>        
    </div>
</div>