<div id="resources" class="row">
    <div class="large-12 columns">
        <div class="breadcrumb"><a href="/">Home</a> &rsaquo; Resources</div>
        <h2>Resources</h2>
        <p>
            For more information regarding breast cancer prevention:
        </p>
        <ul>
            <li><a href="/resources/risk-factors">Risk Factors</a></li>
            <li><a href="/resources/materials">Online Education Materials</a></li>
            <li><a href="/resources/guidelines">Guidelines</a></li>
            <li><a href="/resources/local-contacts">Local Contacts</a></li>
            <li><a href="/resources/national-programs">National Programs</a></li>
        </ul>
        <h3>About the Site</h3>
        <ul>
            <li><a href="/resources/bcerp-project">BCERP Project</li>
            <li><a href="/resources/funding">Funding</a></li>
            <li><a href="/resources/credits">Credits</a></li>
        </ul>
        <p>
            <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
        </p>
    </div>
</div>