<div class="row">
    <div class="large-12 columns">
        <h1>Resources</h1>
        <ul>
            <li>More Information on Breast Cancer Risks</li>
            <li>Funding</li>
            <li>Credits</li>
        </ul>
    </div>
</div>