<div class="row">
    <div class="large-12 columns">
        <h1>Resources</h1>
        <ul>
            <li><a href="/resources/more_info">More Information on Breast Cancer Risks</a></li>
            <li><a href="/resources/funding">Funding</a></li>
            <li><a href="/resources/credits">Credits</a></li>
        </ul>
    </div>
</div>