<div id="stories" class="row">
  <div class="large-12 columns">
    <h2>Video Stories</h2>
    <div class="story row">
      <a href="/stories/christie_lee">
        <div class="small-3 columns">
          <img src="/images/stories/christie-lee4x3.jpg" alt="Picture of Christie Lee" />
        </div>
        <div class="small-9 columns">
          <div class="description">
            <h3>Surviving With an Infant</h3>
            "Breast cancer turned out to be a blessing." Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.
            <span class="video-length">Length: 1:55</span>                
          </div>
        </div>
      </a>      
    </div>
    <div class="story row">
      <a href="/stories/renee_adams">
        <div class="small-3 columns">
          <img src="/images/stories/renee-adams4x3.jpg" alt="Picture of Renee Adams" />
        </div>
        <div class="small-9 columns">
          <div class="description">
            <h3>Diagnosed While Pregnant</h3>
            "It doesn't have to run in your family for it to happen to you." Renee Adams shares her story of surviving breast cancer while pregnant.
            <span class="video-length">Length: 1:36</span>
          </div>
        </div>
      </a>
    </div>
    <div class="story row">
      <a href="/stories/kenda_freeman">
        <div class="small-3 columns">
          <img src="/images/stories/kenda-freeman4x3.jpg" alt="Picture of Kenda Freeman" />
        </div>
        <div class="small-9 columns">
          <div class="description">
              <h3>Advocating For Prevention</h3>
              "I like to be a personal advocate." Kenda Freeman shares her story of living well to prevent breast cancer. 
              <span class="video-length">Length: 1:35</span>
          </div>
        </div>
      </a>
    </div>
  </div>  
</div>