<div class="row">
  <div class="large-12 columns">
    <h2>Stories</h2>
    <ul>
        <li>
            <a href="/stories/christie_lee">
                <img src="/images/stories/christie-lee.png" alt="Picture of Christie Lee" />
                <div>
                    <h3>Surviving With an Infant</h3>
                    <p>
                        "Breast cancer turned out to be a blessing." Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter. 
                    </p>
                </div>
            </a>
            <div class="video-length">Length: 1:55</div>
        </li>
        <li>
            <a href="/stories/renee_adams">
                <img src="/images/stories/renee-adams.png" alt="Picture of Christie Lee" />
                <div>
                    <h3>Diagnosed While Pregnant</h3>
                    <p class="time">
                        "It doesn't have to run in your family for it to happen to you." Renee Adams shares her story of surviving breast cancer while pregnant.
                    </p>
                </div>
            </a>
            <div class="video-length">Length: 1:36</div>
        </li>
        <li>
            <a href="/stories/kenda_freeman">
                <img src="/images/stories/kenda-freeman.png" alt="Picture of Christie Lee" />
                <div>
                    <h3>Advocating For Prevention</h3>
                    <p class="time">
                        "I like to be a personal advocate." Kenda Freeman shares her story of living well to prevent breast cancer. 
                    </p>
                </div>
            </a>
            <div class="video-length">Length: 1:35</div>
        </li>                
    </ul>    
  </div>  
</div>