<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/stories">Stories</a> &rsaquo; Christie Lee</div>
      <h2>Surviving With An Infant</h2>
      <iframe src="//www.youtube.com/embed/S1m1cDioTew?rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-9 columns">
      <p>
        &ldquo;You just never think it will be you.&rdquo; Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.
      </p>
    </div>
    <div class="large-3 columns large-text-right">
      Share this story: <%= erb :share_buttons_partial, :locals => {
        :share_subject => "A breast cancer survivor shares her story",
        :share_body => "Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.",
        :share_url => url("/stories/christie-lee") } %>
    </div>
  </div>
</div>