<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <h2>Surviving With An Infant</h2>
      <iframe src="//www.youtube.com/embed/S1m1cDioTew?rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>
        "You just never think it will be you." Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.
      </p>
    </div>
  </div>
</div>