<div id="stories" class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; Stories</div>
    <h2>Video Stories</h2>
    <div class="story clearfix">
      <a href="/stories/christie">
        <div class="video-frame small-4 medium-2 columns">
          <img src="/images/stories/christie-lee4x3.jpg" alt="Picture of Christie Lee" />
        </div>
        <div class="small-8 medium-10 columns">
          <div class="description">
            <h3>Surviving With an Infant</h3>
            &ldquo;You just never think it will happen to you.&rdquo; <!--Christie Lee shares her story of surviving breast cancer in her 40s while caring for her daughter.-->
          </div>
        </div>
      </a>      
    </div>
    <hr />
    <div class="story clearfix">
      <a href="/stories/renee">
        <div class="video-frame small-4 medium-2 columns">
          <img src="/images/stories/renee-adams4x3.jpg" alt="Picture of Renee Adams" />
        </div>
        <div class="small-8 medium-10 columns">
          <div class="description">
            <h3>Diagnosed While Pregnant</h3>
            &ldquo;It doesn't have to run in your family for it to happen to you.&rdquo; <!--Renee Adams shares her story of surviving breast cancer while pregnant.-->
          </div>
        </div>
      </a>
    </div>
    <hr />
    <div class="story clearfix">
      <a href="/stories/kenda">
        <div class="video-frame small-4 medium-2 columns">
          <img src="/images/stories/kenda-freeman4x3.jpg" alt="Picture of Kenda Freeman" />
        </div>
        <div class="small-8 medium-10 columns">
          <div class="description">
              <h3>Advocating For Prevention</h3>
              &ldquo;I like to be a personal advocate.&rdquo; <!--Kenda Freeman shares her story of living well to prevent breast cancer. -->
          </div>
        </div>
      </a>
    </div>
    <hr />
    <div class="story clearfix">
      <a href="/stories/bc-info-1">
        <div class="video-frame small-4 medium-2 columns">
          <img src="/images/stories/bc-info-1-4x3.jpg" alt="Screenshot of video titled Breast Cancer and Young African American Women" />
        </div>
        <div class="small-8 medium-10 columns">
          <div class="description">
              <h3>Breast Cancer and Young African American Women</h3>
              &ldquo;When younger African American women get breast cancer, they have higher rates of mortality.&rdquo;
          </div>
        </div>
      </a>
    </div>
    <hr />
    <div class="story clearfix">
      <a href="/stories/bc-info-2">
        <div class="video-frame small-4 medium-2 columns">
          <img src="/images/stories/bc-info-2-4x3.jpg" alt="Screenshot of video titled Educate Yourself to Protect Yourself" />
        </div>
        <div class="small-8 medium-10 columns">
          <div class="description">
              <h3>Educate Yourself to Protect Yourself</h3>
              &ldquo;Women <em>can</em> decrease their risk of breast cancer.&rdquo;
          </div>
        </div>
      </a>
    </div>
  </div>  
</div>