<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <h2>Advocating For Prevention</h2>
      <iframe src="//www.youtube.com/embed/0GOglZB8bUI?rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>
        "It's effected so many people in my family." Kenda Freeman shares her story of living well to prevent breast cancer. 
      </p>
    </div>
  </div>
</div>