<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/stories">Stories</a> &rsaquo; Kenda Freeman</h3>
      <h2>Advocating For Prevention</h2>
      <iframe src="//www.youtube.com/embed/0GOglZB8bUI?rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-9 columns">
      <p>
        &ldquo;It's effected so many people in my family.&rdquo; Kenda Freeman shares her story of living well to prevent breast cancer. 
      </p>
    </div>
    <div class="small-2 medium-2 large-3 columns text-right">
      <%= erb :share_buttons_partial %>
    </div>
  </div>  
</div>