<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <iframe src="//player.vimeo.com/video/92966284?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>
        Renee Adams shares her story of surviving breast cancer while pregnant.
      </p>
    </div>
  </div>
</div>