<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/stories">Stories</a> &rsaquo; Renee Adams</div>
      <iframe src="//player.vimeo.com/video/92966284?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-9 columns">
      <p>
        Renee Adams shares her story of surviving breast cancer while pregnant.
      </p>
    </div>
    <div class="large-3 columns large-text-right">
      Share this story: <%= erb :share_buttons_partial, :locals => {
        :share_subject => "One woman's story of surviving breast cancer while pregnant",
        :share_body => "Renee Adams shares her story of surviving breast cancer while pregnant.",
        :share_url => url("/stories/renee-adams") } %>
    </div>
  </div>
</div>