<div class="story">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/stories">Stories</a> &rsaquo; Renee Adams</h3>
      <iframe src="//player.vimeo.com/video/92966284?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="small-10 medium-11 large-9 columns">
      <p>
        Renee Adams shares her story of surviving breast cancer while pregnant.
      </p>
    </div>
    <div class="small-2 medium-1 large-3 columns text-right">
      <%= erb :share_buttons_partial %>
    </div>
  </div>
</div>