<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <div class="panel">
                <fieldset>
                    <legend>Do you most often use personal care products like cosmetics with or without fragrances?</legend>
                    <label><input type="radio" name="fragrances" value="With fragrances" <% if @session.fragrances == "With fragrances" %> checked="checked" <% end %>> With fragrances</label>
                    <label><input type="radio" name="fragrances" value="Without fragrances" <% if @session.fragrances == "Without fragrances" %> checked="checked" <% end %>> Without fragrances</label>
                </fieldset>
                <div class="row">
                  <div id="risk-message" class="small-12 columns"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="next_question" value="plastic_or_glass" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "plastic_or_glass", :previous_step => "days_of_exercise" } %>
</form>