<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <div class="panel">
                <fieldset>
                    <legend>Have any of your first-degree relatives (mother, sister, daughter, father, brother, or son) ever had breast or ovarian cancer?</legend>
                    <label><input type="radio" name="relatives" id="relatives-1" value="No" <% if @session.relatives == "No" %> checked="checked" <% end %>> No</label>
                    <label><input type="radio" name="relatives" id="relatives-2" value="Yes" <% if @session.relatives == "Yes" %> checked="checked" <% end %>> Yes</label>
                </fieldset>           
                <div class="row">
                  <div id="risk-message" class="small-12 columns"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="next_question" value="height" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "height", :previous_step => "breast_feeding_months" } %>
</form>